@font-face {
  font-family: 'icomoon';
  src: url('../font/icomoon.eot?7p45zd');
  src: url('../font/icomoon.eot?#iefix7p45zd') format('embedded-opentype'), url('../font/icomoon.ttf?7p45zd') format('truetype'), url('../font/icomoon.woff?7p45zd') format('woff'), url('../font/icomoon.svg?7p45zd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*="__icon-"]:before,
[class*="__icon-"]:after {
  font-family: 'icomoon';
  font-size: 18px;
  color: #fff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
blockquote {
  display: block;
  margin: 0;
  padding-left: 20px;
  border-left: 2px solid #81b3d2;
  text-align: left;
}
a {
  text-decoration: none;
}
.btn {
  display: block;
  padding: 16px 0 15px 0;
  background: #81b3d2;
  font-size: 21px;
  line-height: 1.24em;
  font-weight: 700;
  color: #ffffff;
  transition: 0.3s;
}
.btn--blue {
  background: #81b3d2;
}
.btn--blue:hover {
  background: #669ec0;
}
.btn--blue:active {
  background: #5496bd;
  color: #88b6d1;
}
.layout-center-wrapper {
  text-align: center;
  margin: 0 auto;
}
.map {
  background: url("../img/pic-map.jpg");
  width: 100%;
  height: 350px;
  border: none;
}
@keyframes menu-open {
  0% {
    transform: translateY(-228px);
  }
  100% {
    transform: translateY(0);
  }
}
.page-header {
  position: relative;
}
.main-nav {
  position: relative;
  display: none;
  transition: transform 0.3s ease;
}
@media (min-width: 768px) {
  .main-nav {
    display: block;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    width: 20%;
  }
  .main-nav__link:nth-child(4n-2) {
    margin-right: 20%;
  }
}
.main-nav__link a {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  background: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}
@media (min-width: 768px) {
  .main-nav__link a {
    color: #000000;
    background: #fff;
    border: none;
    box-shadow: none;
  }
}
.main-nav__link a:hover {
  background: #669ec0;
}
@media (min-width: 768px) {
  .main-nav__link a:hover {
    background: #fff;
    color: #81b3d2;
  }
}
.main-nav__link a:active {
  background: #5496bd;
  color: #88b6d1;
}
@media (min-width: 768px) {
  .main-nav__link a:active {
    background: #fff;
    color: #b2b2b2;
  }
}
@media (min-width: 768px) {
  .main-nav__link a.main-nav__active {
    color: #766357;
  }
}
@media (min-width: 768px) {
  .main-nav__link a.main-nav__active:hover {
    color: #604e43;
  }
}
@media (min-width: 768px) {
  .main-nav__link a.main-nav__active:active {
    color: #d6d0cc;
  }
}
.main-nav__close {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 23px;
  height: 22px;
  z-index: 2;
  font-size: 0;
  background: url("../img/icon-close.png");
}
@media (min-width: 768px) {
  .main-nav__close {
    display: none;
  }
}
.main-nav__show {
  display: block;
  animation: menu-open 0.4s;
  transform: translateY(0);
}
.logo {
  position: relative;
  height: 70px;
  margin-bottom: -15px;
  font-size: 0;
  background: url(../img/logo-triangle.svg) no-repeat center;
  z-index: 10;
}
@media (min-width: 768px) {
  .logo {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 40%;
    width: 20%;
  }
}
.toggle {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 23px;
  height: 22px;
  z-index: 2;
  font-size: 0;
  background: url("../img/icon-toggle.png");
}
@media (min-width: 768px) {
  .toggle {
    display: none;
  }
}
.bg-sedona {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 45px 20px;
  height: 390px;
  text-align: center;
  background-image: url('../img/photo-background@1x.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-sedona:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  background: linear-gradient(to right top, #ffffff 48%, transparent 51%) no-repeat left, linear-gradient(to left top, #ffffff 48%, transparent 51%) no-repeat right;
  background-size: 50% 100%;
}
.bg-sedona__text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  margin: 0;
}
.bg-sedona__text--welcome {
  margin-bottom: 10px;
  height: 35px;
  background: url('../img/text-welcome.svg') no-repeat center;
  background-size: contain;
}
.bg-sedona__text--gorgeous {
  height: 25px;
  background: url('../img/text-tothegorgeous.svg') no-repeat center;
  background-size: contain;
}
.bg-sedona__text--sedona {
  height: 50px;
  background: url('../img/text-sedona.svg') no-repeat center;
  background-size: contain;
}
.bg-sedona__text--because {
  height: 55px;
  background: url('../img/text-becausecanyon.svg') no-repeat center;
  background-size: contain;
}
.bg-sedona--small {
  justify-content: center;
  height: 160px;
  background-position: 50% 50%;
}
.bg-sedona--small .bg-sedona__text--welcome,
.bg-sedona--small .bg-sedona__text--gorgeous,
.bg-sedona--small .bg-sedona__text--because {
  display: none;
}
@media (min-width: 768px) {
  .bg-sedona {
    height: 510px;
    padding: 75px 20px;
    background-size: 105%, cover;
  }
  .bg-sedona:after {
    height: 57px;
    background: linear-gradient(to right top, #ffffff 48%, transparent 51%) no-repeat, linear-gradient(to left top, #ffffff 48%, transparent 51%) no-repeat, linear-gradient(to right top, #ffffff 48%, transparent 51%) no-repeat, linear-gradient(to left top, #ffffff 48%, transparent 51%) no-repeat;
    background-size: 50% 100%,50% 100%,
      30% 100%,30% 100%;
    background-position: 0% 0%, 100% 0%, 30% 0%, 70% 0%;
  }
  .bg-sedona__text--welcome {
    height: 45px;
  }
  .bg-sedona__text--gorgeous {
    height: 35px;
  }
  .bg-sedona__text--sedona {
    height: 75px;
  }
  .bg-sedona__text--because {
    height: 80px;
  }
  .bg-sedona--small {
    height: 300px;
  }
}
@media (min-resolution: 1.5dppx) {
  .bg-sedona {
    background-image: url('../img/photo-background@2x.jpg');
  }
}
.promo__header {
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .promo__header {
    padding: 40px 140px;
  }
}
.promo__title {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 700;
}
.promo__descr {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.86em;
}
.promo__reason-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .promo__reason-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.promo__reason {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .promo__reason {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .promo:not(:last-child):not(.promo__reason--color):after {
    display: none;
  }
}
.promo__reason:first-child:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 16px;
  background: linear-gradient(to right top, #81b3d2 49%, transparent 51%) no-repeat left top, linear-gradient(to left top, #81b3d2 49%, transparent 51%) no-repeat right top;
  background-size: 50% 100%;
}
@media (min-width: 768px) {
  .promo__reason:first-child:before {
    display: none;
  }
}
@media (min-width: 768px) {
  .promo__reason--color {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .promo__reason--color:nth-of-type(2n) .promo__reason-header {
    order: 2;
  }
}
.promo__reason-with-picture:after {
  display: block;
  content: '';
  font-size: 0;
  min-height: 255px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .promo__reason-with-picture {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .promo__reason-with-picture:after {
    width: 67%;
  }
}
.promo__reason-with-picture--city:after {
  background-image: url('../img/photo-city@1x.jpg');
}
@media (min-resolution: 1.5dppx) {
  .promo__reason-with-picture--city:after {
    background-image: url('../img/photo-city@2x.jpg');
  }
}
.promo__reason-with-picture--bridge:after {
  background-image: url('../img/photo-bridge@1x.jpg');
}
@media (min-resolution: 1.5dppx) {
  .promo__reason-with-picture--bridge:after {
    background-image: url('../img/photo-bridge@2x.jpg');
  }
}
.promo__reason-header {
  padding: 40px 20px;
  background: #eeeeee;
  color: #000000;
}
@media (min-width: 768px) {
  .promo__reason-header {
    flex-grow: 1;
    padding: 40px 45px;
  }
}
.promo__reason:not(:last-child):not(.promo__reason--color):after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  margin: 0 20px;
  width: 87.5%;
  min-height: 1px;
  background: #dbdbdb;
}
.promo__reason-header--color {
  background: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__reason-header--color {
    width: 33%;
  }
}
.promo__reason-title {
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 700;
}
.promo__reason-num:before,
.promo__reason-num:after {
  content: '\2014';
  padding: 0 5px;
}
.promo__reason-descr {
  font-size: 14px;
  line-height: 1.5em;
}
.promo__reason-content {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 20px;
}
@media (min-width: 768px) {
  .promo__reason-content {
    padding: 0;
    display: flex;
  }
}
.promo__subreason {
  position: relative;
  padding: 15px 0 15px 50px;
}
@media (min-width: 768px) {
  .promo__subreason {
    padding: 160px 45px 40px;
  }
}
.promo__subreason--house:before,
.promo__subreason--gift:before,
.promo__subreason--food:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  background-size: contain;
}
@media (min-width: 768px) {
  .promo__subreason--house:before,
  .promo__subreason--gift:before,
  .promo__subreason--food:before {
    top: 60px;
    width: 100%;
    height: 70px;
  }
}
@media (min-width: 768px) {
  .promo__subreason--gift {
    order: 3;
  }
}
.promo__subreason--house:before {
  background: url("../img/icon-house.svg") no-repeat center;
  background-size: contain;
}
.promo__subreason--gift:before {
  background: url("../img/icon-gift.svg") no-repeat center;
  background-size: contain;
}
.promo__subreason--food:before {
  background: url("../img/icon-burger.svg") no-repeat center;
  background-size: contain;
}
.promo__subreason-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 700;
  text-align: left;
}
@media (min-width: 768px) {
  .promo__subreason-title {
    text-align: center;
  }
}
.promo__subreason-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
}
@media (min-width: 768px) {
  .promo__subreason-text {
    text-align: center;
  }
}
.sup-post {
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.sup-post__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
}
.sup-post__descr {
  margin: 0;
  font-size: 14px;
  line-height: 1.7em;
}
.wrapper {
  border-bottom: 2px solid #dbdbdb;
}
@media (min-width: 768px) {
  .wrapper {
    border: none;
  }
}
.wrapper--post {
  display: flex;
  flex-wrap: wrap;
}
.post {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .post {
    padding: 0 45px;
  }
}
@media (min-width: 1200px) {
  .post {
    padding: 0 200px;
  }
}
.post__wrap {
  padding: 30px 0;
}
.post__wrap--preview {
  border-top: 2px solid #dbdbdb;
}
@media (min-width: 768px) {
  .post__wrap--preview {
    border: none;
    border-bottom: 2px solid #dbdbdb;
  }
}
.post__preview {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  flex-grow: 1;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .post__preview {
    width: 50%;
    padding: 0 45px;
  }
  .post__preview:nth-of-type(2n-1) {
    border-right: 2px solid #dbdbdb;
  }
  .post__preview:nth-of-type(1) .post__wrap--preview,
  .post__preview:nth-of-type(2) .post__wrap--preview {
    border-top: 2px solid #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .post__preview {
    width: 33%;
    padding: 0 55px;
    border: none;
  }
  .post__preview:nth-child(3n-1),
  .post__preview:nth-child(3n-2) {
    border-right: 2px solid #dbdbdb;
  }
  .post__preview:nth-of-type(1) .post__wrap--preview,
  .post__preview:nth-of-type(2) .post__wrap--preview,
  .post__preview:nth-of-type(3) .post__wrap--preview {
    border-top: 2px solid #dbdbdb;
  }
}
.post h2 {
  margin: 0;
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .post h2 {
    text-align: left;
  }
}
.post p {
  margin: 0;
  padding: 14px 0;
  font-size: 14px;
  line-height: 1.72em;
  text-align: justify;
}
.post ul {
  padding-left: 20px;
  text-align: left;
}
.post strong {
  text-decoration: underline;
}
.post blockquote {
  width: 67%;
  font-size: 14px;
  line-height: 1.72em;
}
.post__title {
  margin: 0 20px;
  margin-bottom: 14px;
  font-size: 21px;
  line-height: 1.24em;
  font-weight: 700;
}
.post__intro {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .post__header:before {
    position: relative;
    content: '';
    display: block;
    border-bottom: 2px solid #dbdbdb;
    top: 0.4em;
    z-index: 1;
  }
}
.post__info {
  text-align: left;
}
@media (min-width: 768px) {
  .post__info--content {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    background: white;
    z-index: 2;
  }
}
.post__date {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  text-align: left;
  margin-right: 20px;
}
.post__date:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  background: url("../img/blog-calendar.svg") no-repeat;
}
.post__tag {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.post__tag:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 11px;
  height: 10px;
  background: url("../img/blog-flag.svg") no-repeat;
}
.post__tag li {
  display: inline-block;
  margin-right: 10px;
}
.post__tag a {
  text-decoration: none;
  color: #000000;
}
.post__content {
  padding-bottom: 40px;
}
.post__title--content {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  line-height: 1.46em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .post__title--content {
    font-size: 40px;
    line-height: 1.25em;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1200px) {
  .post__title--content {
    padding-left: 145px;
    padding-right: 145px;
  }
}
.post__content-intro {
  margin: 0;
  font-size: 18px !important;
  line-height: 1.44em !important;
  text-align: center !important;
  text-transform: none;
}
.wrapper--page {
  position: relative;
  vertical-align: middle;
}
.wrapper--page:before {
  position: absolute;
  display: none;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.pagination__label {
  display: none;
}
@media (min-width: 768px) {
  .pagination__label {
    display: block;
    width: 180px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.24em;
  }
}
@media (min-width: 1200px) {
  .pagination__label {
    width: 33%;
  }
}
.pagination__list {
  list-style: none;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
@media (min-width: 768px) {
  .pagination__list {
    justify-content: center;
    margin: 0 auto;
  }
}
.pagination__list li {
  margin: 8px 6px;
}
.pagination__list a {
  display: block;
  width: 58px;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #81b3d2;
}
.pagination__list a.pagination__page-active {
  color: #000000;
  background: #dbdbdb;
}
@media (min-width: 768px) {
  .pagination:after {
    display: block;
    content: "";
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .pagination:after {
    width: 33%;
  }
}
.prev-next {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 20px;
  border-bottom: 2px solid #dbdbdb;
}
@media (min-width: 768px) {
  .prev-next {
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    border: none;
  }
}
@media (min-width: 1200px) {
  .prev-next {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.prev-next__prev,
.prev-next__next,
.prev-next__to-preview {
  display: block;
  margin: 8px 0;
  width: 43%;
  border: 2px solid #81b3d2;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .prev-next__prev,
  .prev-next__next,
  .prev-next__to-preview {
    width: 210px;
  }
}
@media (max-width: 767px) {
  .prev-next__to-preview {
    width: 100%;
    order: 3;
  }
}
.hotel-search {
  display: flex;
  flex-direction: column;
}
.hotel-search__wrapper {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 500px;
}
.hotel-search__header {
  padding-bottom: 34px;
}
.hotel-search__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.24em;
}
.hotel-search__descr {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.7em;
}
.page-footer__wrap {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__wrap {
    flex-direction: row;
    align-items: baseline;
  }
}
.social-btns {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.social-btns__icon-tw,
.social-btns__icon-fb,
.social-btns__icon-youtube {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin: 0 3px;
  padding: 14px;
  width: 46px;
  height: 46px;
  text-decoration: none;
  vertical-align: middle;
}
.social-btns__icon-tw:before {
  content: '\e609';
}
.social-btns__icon-fb:before {
  content: '\e60a';
}
.social-btns__icon-youtube:before {
  content: '\e60b';
}
.hash-tag__link {
  font-size: 21px;
  line-height: 1.24em;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .designer {
    text-align: right;
  }
}
.designer__icon-htmlacademy {
  position: relative;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1em ;
  color: #000000;
}
.designer__icon-htmlacademy:after {
  content: "\e60c";
  position: absolute;
  font-size: 40px;
  color: #000;
  top: -50%;
  right: 0;
  width: 30px;
  height: 34px;
  transition: 0.3s;
}
.designer__icon-htmlacademy:hover:after {
  color: #81b3d2;
}
.designer__icon-htmlacademy:active:after {
  color: #b2b2b2;
}
.hash-tag,
.social-btns,
.designer {
  padding: 20px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .hash-tag,
  .social-btns,
  .designer {
    width: 33.3%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.comment__wrap {
  padding: 0 20px;
  border-top: 1px solid #dbdbdb;
}
@media (min-width: 768px) {
  .comment__wrap {
    padding: 0 60px;
    border: none;
  }
}
.comment__header {
  padding: 20px 20px;
}
.comment__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 700;
}
.comment__descr {
  margin: 0;
  font-size: 14px;
  line-height: 1.7em;
}
.comment__set {
  padding: 20px 0;
  margin: 0;
  border: none;
  text-align: left;
}
@media (min-width: 768px) {
  .comment__set {
    text-align: center;
    border-top: 1px solid #dbdbdb;
  }
}
.comment__set-legend {
  margin: 0 auto;
  padding: 20px 50px;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comment__set-legend {
    font-size: 21px;
    line-height: 1.24em;
  }
}
.comment__flex-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comment__flex-wrap {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}
.comment__flex-wrap--radio {
  margin: 0 auto;
  max-width: 640px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comment__flex-wrap--check {
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
  }
}
.comment__block {
  width: 100%;
  padding: 0 1px;
}
@media (min-width: 768px) {
  .comment__block {
    width: 28%;
  }
}
.comment__block--radio {
  width: 100%;
}
@media (min-width: 768px) {
  .comment__block--radio {
    width: 270px;
  }
}
@media (min-width: 768px) {
  .comment__block-checkbox {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .comment__block-checkbox {
    width: 25%;
  }
}
.comment__label {
  display: block;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.86em;
}
@media (min-width: 768px) {
  .comment__label {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comment__label-long {
    display: none;
  }
}
.comment__label-short {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comment__label-short {
    display: inline;
  }
}
.comment__label--btn {
  display: block;
  padding-left: 78px;
  text-transform: none;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 700;
  margin-bottom: 15px;
}
.comment__label--radio,
.comment__label--checkbox {
  position: relative;
  line-height: 56px;
  cursor: pointer;
}
.comment__label--radio:before,
.comment__label--checkbox:before {
  position: absolute;
  content: '';
  left: 0;
  width: 56px;
  height: 56px;
}
.comment__label--radio:before {
  border: 18px solid #f2f2f2;
  border-radius: 50%;
  background: #f2f2f2;
}
.comment__label--radio:hover:before {
  border-color: #e5e5e5;
  background: #e5e5e5;
}
.comment__label--radio:active:before {
  border-color: #d5d5d5;
  background: #d5d5d5;
}
.comment__radio:checked + .comment__label--radio:before {
  background: #333333;
}
.comment__radio:checked + .comment__label--radio:active:before {
  border-color: #d5d5d5;
  background: #a4a4a4;
}
.comment__label--checkbox:before {
  border-radius: 5px;
  background: #f2f2f2;
}
.comment__label--checkbox:hover:before {
  background: #e5e5e5;
}
.comment__label--checkbox:active:before {
  background: #d5d5d5;
}
.comment__checkbox:checked + .comment__label--checkbox:after {
  position: absolute;
  content: '';
  left: 22px;
  top: 10px;
  transform: rotate(45deg);
  width: 14px;
  height: 24px;
  border: none;
  border-right: 5px solid #333333;
  border-bottom: 5px solid #333333;
  background: transparent;
}
.comment__checkbox:checked + .comment__label--checkbox:active:after {
  border-color: #a4a4a4;
}
.comment__input {
  width: 100%;
  padding: 0 20px;
  border: 4px solid #f2f2f2;
  text-transform: none;
  font-size: 18px;
  line-height: 58px;
  font-weight: 700;
  color: #000;
  background-color: #f2f2f2;
}
.comment__input:hover {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}
.comment__input:focus {
  border-color: #e5e5e5;
  background-color: #fff;
  outline: none;
}
.comment__radio,
.comment__checkbox {
  display: none;
}
.comment__traveler-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment__block--traveler {
  padding-left: 70px;
}
@media (min-width: 768px) {
  .comment__block--traveler {
    flex-grow: 1;
    padding-left: 7px;
  }
}
@media (min-width: 1200px) {
  .comment__block--traveler {
    flex-grow: 0;
    padding-left: 0;
  }
  .comment__block--traveler:nth-of-type(2) {
    padding-left: 70px;
  }
}
.comment__block--num {
  position: absolute;
  left: 0;
  width: 60px;
}
@media (min-width: 768px) {
  .comment__block--num {
    position: static;
  }
}
@media (min-width: 1200px) {
  .comment__block--num {
    position: absolute;
  }
}
.input-numeric {
  display: flex;
  justify-content: center;
}
@media (max-width: 1199px) {
  .input-numeric {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  .input-numeric {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .input-numeric--traveler {
    margin: 0;
    width: 28%;
  }
}
.input-numeric__icon-minus,
.input-numeric__icon-plus {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  width: 60px;
  height: 58px;
  padding: 20px;
  background: #f2f2f2;
}
.input-numeric__icon-minus:hover,
.input-numeric__icon-plus:hover {
  background: #e5e5e5;
}
.input-numeric__icon-minus:active,
.input-numeric__icon-plus:active {
  background: #d5d5d5;
}
.input-numeric__icon-minus {
  margin-right: 7px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .input-numeric__icon-minus {
    margin-right: 0;
  }
}
.input-numeric__icon-plus {
  margin-left: 7px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .input-numeric__icon-plus {
    margin-left: 0;
  }
}
.input-numeric__icon-minus:before {
  content: '\e608';
  color: #b8b8b8;
}
.input-numeric__icon-plus:before {
  content: '\e607';
  color: #b8b8b8;
}
.input-numeric__text {
  padding: 0;
  padding-left: 10px;
  border: none;
  width: 56px;
  height: 58px;
  text-align: right;
  font-size: 18px;
  line-height: 58px;
  font-weight: 700;
  color: #000;
  background: #f2f2f2;
  outline: none;
}
.input-numeric__label {
  flex-grow: 1;
  padding-right: 20px;
  height: 58px;
  font-size: 18px;
  line-height: 58px;
  font-weight: 700;
  color: #b8b8b8;
  text-transform: none;
  text-align: right;
  background: #f2f2f2;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .input-numeric__label {
    display: none;
  }
}
.upload-images {
  display: flex;
  flex-direction: column;
}
.upload-images__area {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.upload-images__file-load {
  position: relative;
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 500px;
}
.upload-images__btn {
  padding: 0;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.upload-images__file {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 460px;
  height: 50px;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.upload-images__item {
  position: relative;
  padding: 0;
  padding-top: 15px;
  margin: 0 1px;
}
.upload-images__img-wrap {
  padding: 0 10px 20px;
  font-size: 0;
}
.upload-images__img {
  width: 70px;
  height: 70px;
}
.upload-images__del-link {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 60px;
}
.upload-images__del-link:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: none;
  background: #f2f2f2;
  border-radius: 50%;
  z-index: 1;
}
.upload-images__img-name {
  display: none;
}
.marker-required {
  color: #ff4444;
}
.success-popup,
.failure-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 640px;
  margin-left: -325px;
  margin-top: -205px;
  background: #fff;
  z-index: 9999;
  box-shadow: 0 0 15px -1px #000000;
}
.success-popup__msg,
.failure-popup__msg {
  background: #fff;
  padding: 0 100px;
  padding-top: 50px;
}
.success-popup__msg-title,
.failure-popup__msg-title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 1em;
}
.success-popup__msg-text,
.failure-popup__msg-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.71428571em;
}
.success-popup__btn,
.failure-popup__btn {
  padding: 40px 90px;
  background: #f2f2f2;
}
.popup-show {
  display: block;
}
.failure-popup {
  width: 400px;
  margin-left: -200px;
  margin-top: -205px;
  z-index: 9998;
}
.failure-popup__msg {
  padding-left: 60px;
  padding-right: 60px;
}
.failure-popup__msg-title {
  padding-left: 30px;
  padding-right: 30px;
}
.failure-popup__msg-text {
  padding: 0;
}
.failure-popup__btn {
  padding: 30px 60px 50px;
  background: none;
}
