.hotel-search {
	&__wrapper {
		padding: 23px @padding-value 50px @padding-value;
	}

	&__header {		
		padding-bottom: 34px;
		h1 {
			font-size: @font-size-large;
	    line-height: @line-height-middle;
	    margin-bottom: 20px;
		}

		p {
			.marg-pad();

			font-size: @font-size;
	    line-height: 24px;
		}
	}

	&__link {
		display: block;
		padding: 16px 0 15px 0;
		background: @bg-middle;
		font-size: @font-size-large;
	  line-height: @line-height-middle;
	  font-weight: 700;
    color: @color-text--light;

	}
}	