@color-text--dark: #000;
@color-text--light: #fff;
@bg-body: #fff;
@bg-middle: #81b3d2;
@bg-light: #eee;
@bg-pic: url("../img/pic-bg.jpg");
@bg-pic__white-mask: url("../img/pic__white-mask.jpg");

@font-family: "PT Sans", sans-serif;
@font-size: 14px;
@font-size-middle: 18px;
@font-size-large: 21px;


@line-height: 21px;
@line-height-middle: 26px;

@padding-value: 20px; 		// боковые внутренние отступы текста

@sprite: url("../img/icon-burger.png");